.features {
  padding-top: 40px;

  @media screen and (min-width: 480px) {
    padding-top: 50px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 70px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 120px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 170px;
  }
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  justify-content: space-around;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 280px;
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  width: 102px;
  height: 102px;

  background-color: var(--accentColor);
  border-radius: 26px;
  box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);

  & svg {
    stroke: #ffffff;
    fill: none;
  }
}

.features__title {
  margin-bottom: 28px;
  text-align: center;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #000000;
}

.features__text {
  text-align: center;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.02em;

  color: var(--mainTextColor);
}
