.services__items {
  display: grid;
  gap: 50px;

  @media screen and (min-width: 768px) {
    gap: 80px;
  }

  @media screen and (min-width: 1024px) {
    gap: 120px;
  }

  @media screen and (min-width: 1200px) {
    gap: 140px;
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.services__item:nth-child(odd) {
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
  }

  & .services__content-wrapper {
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
  }
}

.services__content {
  @media screen and (min-width: 768px) {
    flex: 0 1 50%;
  }
}

.services__content-wrapper {
  @media screen and (min-width: 768px) {
    max-width: 420px;
  }
}

.services__title {
  margin-bottom: 30px;

  font-size: 28px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #000000;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 32px;
  }

  & > span {
    color: var(--accentColor);
  }
}

.services__text {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.02em;

  color: var(--mainTextColor);
}

.services__image {
  @media screen and (max-width: 767.98px) {
    align-self: center;
  }

  @media screen and (min-width: 768px) {
    flex: 0 1 50%;
  }
}

.services__image img {
  max-width: 100%;

  border-radius: 10px;
  box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);

  transition: transform var(--transition);
}

.services__image:hover img,
.services__image:focus img {
  transform: translateY(-3px);
}
