[class*="__container"] {
  max-width: 1230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1260px;
  }
}
