body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--mainTextColor);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: clip;

  & > main {
    flex-grow: 1;
  }
}

.no-scroll {
  overflow: hidden;
}
